.parent{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.card{
    display: flex;
    width: 300px;
    border: 2px solid black;
    border-radius: 15px;
    gap: 20px;
}
.logo{
    width: 100px;
    height: 150px;
}
.info{
    
}